.form{
    ul{
        padding-left: 0;
        list-style: none;
    }

    form{
        max-width: 100%;
        label{
            max-width: 100%;
        }
        input{
            max-width: 100%;
            min-height: 3rem;
            border-radius: 5px;
            border: 1px solid $primary-color;
        }
        .wpcf7-submit{
            border-radius: 5px;
            background: $secondary-color;
            border: 1px solid $primary-color;
            color: $primary-color;
            transition:all 0.2s ease-in-out; 
            padding: 0 2rem; 
            &:hover{
                background-color: $primary-color;
                color: $secondary-color;
                border: 1px solid $secondary-color;
            }
        }
        textarea{
            min-height: 3rem;
            border-radius: 5px;
            border: 1px solid $primary-color;
        }

    }
}