@import "/assets/scss/bootsrap/mixins/breakpoints";

header{
    background-color: $primary-color;
    position: fixed;
    z-index: 10;

    .logo{
        img{
            max-height: 48px;
        }
    }

    nav{        
        a{
            h5{color: $secondary-color;}

            &:hover{
                color: #ffff;
                text-decoration: none;
            }
        }

        ul{
            list-style: none;
            text-align: right;

            li{
                display: inline-block;
                margin-left: 1.5rem;
                a{
                    color: $secondary-color;
                    text-decoration: none;
                    transition: ease-in-out;
                    transition-duration: 0.2s;
        
                    h5{color: $secondary-color;}
        
                    &:hover{
                        color: #ffff;
                        text-decoration: underline;
                    }
                }
            }

            button{
                border-radius: 5px;
                background: $secondary-color;
                border: 1px solid $secondary-color;
                transition: ease-in-out;
                transition-duration: 0.2s;
                font-size: 16px;

                &:hover{
                    background-color: $primary-color;
                    color: $secondary-color;
                    border: 1px solid $secondary-color;
                }
            }
        }
    }    

    .hamburger{
        display: none;
    }

    .mobile{
        display: none;

        ul{
            color: #ffff;
        }
    }
}

@include media-breakpoint-down(md) { 

    header{ 

            nav{   
                #nav-items{
                    display: none;
                }
                .hamburger{
                    display: block;
                }
            }
            .open{
                height: 100vh;
    
                .mobile{
                    display: block; 

                    .mobile-list-item{

                        button{
                            margin-top: 15rem;
                            width: 100%;
                        }
                    }
    
                    ul{
                        li{
    
                            a{
                                color: $secondary-color;
                                text-decoration: none;
                                transition: ease-in-out;
                                transition-duration: 0.2s;
                                font-size: 24px;
    
                                &:active{
                                    color: #ffff;
                                    text-decoration: underline;
                                }
                            }
    
                            button{
                                margin-top: 5rem;
                                border-radius: 5px;
                                background: $secondary-color;
                                color: $black-color;
                                border: 1px solid $secondary-color;
                                transition: ease-in-out;
                                transition-duration: 0.2s;
                                font-size: 24px;
                
                                &:active{
                                    background-color: $primary-color;
                                    color: $secondary-color;
                                    border: 1px solid $secondary-color;
                                }
                            }
    
                        }
                    }
                }
            }
        }              
 }