.presentazione{

    img{
        width: 100%;
        object-fit: cover;
        height: auto;
        max-height: 500px;
        border-radius: 10px;
    }

    .presentazione-team{
        img{
            max-height: 100%;
        }
    }

    h2{
        color: $dark-color;
    }
    p{
        color: $black-color;
    }
}