/* Playfair Display Regular */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('/../font/Playfair Display/PlayfairDisplay-Regular.ttf');
}

/* Playfair Display Italic */
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    src: url('/../font/Playfair Display/PlayfairDisplay-Italic.ttf');
}  

/* Playfair Display Semi-bold */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    src: url('/../font/Playfair Display/PlayfairDisplay-SemiBold.ttf');
}

/* Playfair Display Semi-bold Italic */
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 600;
    src: url('/../font/Playfair Display/PlayfairDisplay-SemiBoldItalic.ttf');
}