@import 'https://fonts.googleapis.com/css2?family=Poppins+Pro&family=Montserrat';

$primary-font: 'Poppins', sans-serif;
$title-font: 'Montserrat', sans-serif;

h1, h2, h3, h4, h5, h6, p, b, em, caption, ul, ol, li, a, button{ color: $primary-color;}

h1{ font-family: $title-font; font-size: 100px; letter-spacing: -1.5px; font-weight: 400;}
h2{ font-family: $title-font; font-size: 52px; letter-spacing: -0.5px; font-weight: 400; line-height: 110%;}
h3{ font-family: $title-font; font-size: 42px; letter-spacing: 0px; font-weight: 400; line-height: 110%;}
h4{ font-family: $title-font; font-size: 30px; letter-spacing: 0.25px; font-weight: 600;}
h5{ font-family: $primary-font; font-size: 21px; letter-spacing: 0px; font-weight: 600;}
h6{ font-family: $primary-font; font-size: 17px; letter-spacing: 0.15px; font-weight: 600;}

button{ font-family: $primary-font; font-size: 20px; letter-spacing: 1.5px; font-weight: 400; text-transform: uppercase;}

p{ font-family: $primary-font; font-size: 18px; letter-spacing: 0px; font-weight: 400;
    b{ font-family: $primary-font; font-weight: 600;}
    em{ font-family: $primary-font; font-weight: 400; font-style: italic;}
    caption{ font-family: $primary-font;  font-size: 12px; font-weight: 400; font-style: italic;}
}

ul{ font-family: $primary-font; font-size: 16px; letter-spacing: 0.5px; font-weight: 400;}
ol{ font-family: $primary-font; font-size: 16px; letter-spacing: 0.5px; font-weight: 400;}
li{ font-family: $primary-font; font-size: 16px; letter-spacing: 0.5px; font-weight: 400;}

a{ font-family: $primary-font; font-size: 16px; letter-spacing: 0.5px; font-weight: 400;}

@include media-breakpoint-down(md){
    h1{font-size: 52px;}
    h2{font-size: 42px;}
    h3{font-size: 28px;}
    h4{font-size: 21px;}
    h5{font-size: 20px;}
    h6{font-size: 17px;}
}